@model LibraryWeb.Models.DTO.RegisterationRequestDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Register</title>
    <link rel="stylesheet" href= "~/css/Register.css">

</head>
<body>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form asp-action="Register" method="POST">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" asp-for="Name"  class="form-control" placeholder="Enter your username" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">Email</label>
                        <input type="email"  class="form-control" asp-for="UserName" placeholder="Enter your email" required>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password"  class="form-control" asp-for="Password" placeholder="Enter your password" >
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}