@model IEnumerable<LibraryWeb.Models.DTO.EventDTO>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<div class="container mt-5">
	<a class="btn btn-primary text-white mt-5" asp-action="CreateEvent" asp-controller="Event"><i class="bi bi-plus-square-fill"></i>Add New Event</a>

	<table class="table table-primary">
		<thead>
			<tr>
				<th >Event Name</th>
				<th >Description</th>
				<th >Image</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var events in Model) {
			<tr>
				<td scope="col">@events.EventName</td>
				<td scope="col">@events.Description</td>
				<td scope="col"> <img src="@events.CoverImageUrl" alt="img" width="150" height="150" /></td>
				<td scope="col">@events.Date</td>
				<td scope="col">
					<a class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
					<a class="btn btn-danger"><i class="bi bi-archive-fill"></i></a>

				</td>
			</tr>
		}
		</tbody>
	</table>

</div>